.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #00003D;
  width:100%;
  display: flex;
  flex-direction: row;
}
.nav .logo {
  display: block;
  flex: 0 1 20%;
  max-width: 300px;
}
.nav .logo img {
  width: 100%;
}

.nav-right {
  flex: 1 0 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.nav-link {
  color: #f2f2f2;
  background-color: #00003D;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #00003D;
  color:#FFD700;
}
